:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--white-color);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* SASS 와 LESS 의 사용방법 */

/* header {
    .logo {

    }
    .icons {

    }
} */

/* React 사용시 PostCSS 를 사용하여, 모듈화 하여 사용 할 수 있습니다. */

/* Video Player */

.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
  z-index: 2;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

body > .infoAndUpNext > .info {
  padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

/* 클래스 명을 많이 쓰면서 최대한 범위를 작게 작게 가져가는 것이 point */

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp {
  /* 라인 제한 CSS clamp */
  /* https://developer.mozilla.org/ko/docs/Web/CSS/-webkit-line-clamp */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* Action Buttons */

.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
  /* align-items: center; */
}

.info .actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.info .actions button i.active {
  color: var(--blue-color);
}

/* Channel Dscription */
.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
  padding: var(--padding) 0;
}

.info .channel .metadata {
  display: flex;
  align-items: center;
}

.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .channel .subscribe {
  text-transform: uppercase;
  /* 소문자에서 대문자로 변경합니다. */
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* UP Mext */

.UpNext {
  padding: var(--padding);
}

.UpNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(-padding) / 2);
}

.UpNext .item {
  display: flex;
  margin-top: var(--padding);
}

.UpNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.UpNext .item .img img {
  width: 100%;
}

.UpNext .item .info {
  flex: 1 1 60%;
}

.UpNext .item .moreBtn {
  flex: 1 1 5%;
  height: 100%;
}

.UpNext .item .info {
  display: flex;
  flex-direction: column;
}

.UpNext .item .title {
  font-size: var(--font-small);
}

.UpNext .item .info .name,
.UpNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding);
  }
}

.footer {
  height: 10vh;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
